<h1>Create a new wine for <%= @winecellar.name %></h1>
<p></p>
<%= form_with url: "/winecellars/#{@winecellar.id}/wines", method: :post, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %><p>
<%= form.label :varietal %>
<%= form.text_field :varietal %><p>
<%= form.label :quantity %>
<%= form.text_field :quantity %><p>
<%= form.label :year %>
<%= form.text_field :year %><p>
<%= form.label :winescore %>
<%= form.text_field :wine_score %><p>

<%= form.submit 'Create Wine' %>
<% end %>
