<h3>Edit Wine Cellar</h3>
<%= form_with url: "/winecellars/#{@winecellar.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><p>
  <%= form.label :location %>
  <%= form.text_field :location %> <p>
  <%= form.label :capacity%>
  <%= form.text_field :capacity %><p>

  <%= form.submit 'Update Wine Cellar' %>
<% end %>
