<h1>All Wine Cellars</h1>
<ul id="winecellars">
  <% @winecellars.each do |cellar| %>
    <li>
    <h3>Name: <a href="/winecellars/<%= cellar.id %>"><%= cellar.name %></a></h3>
    </li>
  <% end %>
</ul>

<!-- <% @winecellars.each do |cellar| %>
  <p><%= cellar.location %></p>
  <a href="/winecellars/<%= cellar.id  %>/edit">Edit</a>
  <form action="/winecellars/<%= cellar.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
-->
