<h1>All Wine Cellars</h1>
<%= form_with(url: "/winecellars", local: true ,method: "get") do  |form| %>
  <%= label_tag(:search_for_exact, "Search Wine Cellars") %>
  <%= text_field_tag(:search_for_exact) %>
  <%= submit_tag("Search Wine Cellars") %>
<% end %>
<hr>

<ul id="winecellars">
<% @winecellars.each do |cellar| %>
    <li>
    <h2>Name: <a href="/winecellars/<%= cellar.id %>"><%= cellar.name %></a>
        Created_at: <%= cellar.created_at %>
    <h2><%= link_to "Edit Wine Cellar", "/winecellars/#{cellar.id}/edit" %></h2>
    <h2><%= link_to "Delete Wine Cellar #{cellar.name}", "/winecellars/#{cellar.id}",
                    method: :delete, data: {confirm: "Really delete the Wine Cellar?"},
                    local: true %></h2>
    <hr>
    </li>
  <% end %>
</ul>
<hr>
<h2><%= link_to "Create Wine Cellar", "/winecellars/new" %></h2>
<% flash.each do |type, msg| %>
  <div>
    <h2><%= msg %></h2>
  </div>
<% end %>
