<a href="/winecellars/">Wine Cellar Index</a>
<a href="/wines/">Wines Index</a>

<h1>All Wines </h1>

<ul id="wines">
  <% @wines.each do |wine| %>
    <li>
      <h3>Name: <a href="/wines/<%= wine.id %>"><%= wine.name %></a></h3>
      <h3>Varietal: <%= wine.varietal%></h3>
      <h3>Quantity: <%= wine.quantity%></h3>
      <h3>In Stock: <%= wine.in_stock%></h3>
      <h3>Year: <%= wine.year%></h3>
      <h3>Wine Score: <%= wine.wine_score%></h3>
      <h3>Created at: <%= wine.created_at.strftime("%B, %d, %Y")%></h3>
      <h3>Updated at: <%= wine.updated_at.strftime("%B, %d, %Y")%></h3>
      <h2><%= link_to "Edit #{wine.name} Attributes", "/wines/#{wine.id}/edit" %></h2>
      <h2><%= link_to "Delete Wine #{wine.name}", "/wines/#{wine.id}",
              method: :delete, data: {confirm: "Really delete the Wine?"},
              local: true %></h2>

      <hr>
    </li>
  <% end %>
</ul>
      <% flash.each do |type, msg| %>
        <div>
          <h2><%= msg %></h2>
        </div>
      <% end %>
