<h1>Wine attributes for <%= @wine.name %>: </h1>

<h3>Name:<%= @wine.name %></h3>
<h3>Varietal:<%= @wine.varietal%></h3>
<h3>Quantity:<%= @wine.quantity%></h3>
<h3>In Stock:<%= @wine.in_stock%></h3>
<h3>Year:<%= @wine.year%></h3>
<h3>Wine Score:<%=@wine.wine_score%></h3>
<h3>Created at:<%= @wine.created_at%></h3>
<h3>Updated at:<%= @wine.updated_at%></h3>

<p> <%= button_to "Edit #{@wine.name}", "/wines/#{@wine.id}/edit",
        method: :get %></p>

<h2><%= link_to "Delete Wine #{@wine.name}", "/wines/#{@wine.id}",
        method: :delete, data: {confirm: "Really delete the Wine?"},
        local: true %></h2>

<% flash.each do |type, msg| %>
  <div>
    <h2><%= msg %></h2>
  </div>
<% end %>
